.hexes
  width: fit-content
  margin: auto

  g
    .hex
      stroke: black
      stroke-width: 2px
      fill: none

    &#c1-5 .hex
      stroke: #77f
      fill: #99f

    & path.base
      stroke-width: 0px
      fill: #fff

      &.up
        stroke: red

      &.dn
        stroke: green

    rect
      fill: white
      stroke: none

    text
      fill: black
      stroke: none
      font-family: sans-serif
      font-size: 13px

.menu
  margin: auto
  max-width: 450px
  display: flex
  justify-content: space-between

  & > div
    input
      width: 40px
    &.left label
      text-align: center
      color: green
    &.right label
      text-align: center
      color: red
